<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Functional Testing in Mobile">
		<parameter name="deviceName" value="Pixel 4" />
		<parameter name="platformName" value="Android" />
		<parameter name="platformVersion" value="11" />
		<parameter name="udid" value="emulator-5554" />
		<parameter name="browserName" value="" />
		<parameter name="browserVersion" value="" />
		<parameter name="nodeIP" value="" />
		<parameter name="nodePort" value="" />
		<classes>
			<class name="com.joq.tests.SampleTest" />
		</classes>
	</test>

</suite> <!-- Suite -->
